@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manjari:wght@100;400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
    font-family: sans-serif;
    margin: 0;                /* remove extra space */
    background: rgb(86,16,16);
    background: linear-gradient(90deg, rgba(86,16,16,1) 0%, rgba(117,24,24,1) 50%, rgba(86,16,16,1) 100%);
}

main {
    margin-top:5em;           /* add a little margin to main content*/
    text-align: center;
}

/*---------------------- HEADER ---------------------- */

header {
    background: rgb(86,16,16);
    background: linear-gradient(90deg, rgba(86,16,16,1) 0%, rgba(117,24,24,1) 50%, rgba(86,16,16,1) 100%);
    width: 100%;
    position: fixed;
    top: 0;  
    border-bottom: 2px solid black;
}

header img {  
    display: block;
    float:left;  
    width:12em;
    padding-left:2em;
    padding-top: 1em; 
    margin-bottom:0.4em;

}

header nav {
    float:right;
    text-align: center; 
}

header ul {
    display: inline-block;  
    padding-top:0.9em;
}

header li{
    display: inline;
    float: left;
    list-style: none;
    padding: 0.5em 1em 0 1em;
}

header li+li{
    border-left:2px solid white;
}

header a {
    font: bold 1.2em "Varela Round";
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    color: rgb(25,202,253);
    transition: 0.3s;
}

header a:active {
    color: rgb(24, 164, 203);
    transition: 0.3s;
}

/*---------------------- FOOTER ---------------------- */
footer {
    background: rgb(17,17,17);
    background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(21,21,21,1) 50%, rgba(17,17,17,1) 100%);
    width: 100%;
    margin-bottom:0;
    font: 1.0em "Rubik";
    font-weight: 80;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
   
}

footer h5{
    padding-top:20em;
}

footer section {
    text-align: center;
    float:left;
    margin-left:1em;
    margin-right:15em;
}

footer::after {
    content: "";
    display: table;
    clear: both;
}

#contact{
   
    text-align: left;
  
}

#contact p {
    margin-bottom: 20px;
    line-height: 1.6; 
}

#contact p span {
    display: block;
    text-align: center; 
    font-weight: bold;
    border-bottom: 1px solid;
}

#contact a {
    display: block;
    text-decoration: none; 
    margin-top: 5px; 
    color: #ffffff;
}

#contact a img {
    vertical-align: middle; 
    width: 25px;
    height: 25px;
    margin-right: 5px;  
}

#partners {
    
    padding-top:0.8em;
}

#partners h1{
    text-decoration: underline;
    
}

#partners img {
    width:6em;
}

#partners a {
    text-decoration: none;  
}

#partners + p {
    text-align: center;
    padding-top:1.8em;
}

#social-media img{
    width:2em;
}

#social-media a {
    text-decoration: none;
}

/*---------------------- MAIN INDEX ---------------------- */

#intro{
    background-color: #f5f5dc;
    width:50%;
    margin-left:25%;
    padding:2em;
    margin-top:8em;
    border:2px solid;
    border-radius: 10px 100px / 120px;
    font-family: "Manjari";
}

#intro h1{
    text-align: center;
}

#news {
    display: inline-block;  
}

#news h1 {
    color:white;
    margin-left:1.5em;
    margin-bottom:0em;
    font-family: "Roboto Condensed";
}

.news-article {
    background-color: #fffffe;
    float:left;
    font-family: "Manjari";
    width: 20em;
    border:1px solid;
    border-radius: 20px;
    margin:2em;  
}

.news-article img{
    width: 20em;
    height: 11em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid;
}

.news-article a {
    text-decoration: none;
    color:black;
}

.news-article a p,.news-article a h3{
    padding-left:0.2em;
    margin-top:0.3em;
}

.news-article:hover{
    box-shadow: 0 0 10px 5px rgba(245,245,220, 0.5); 
}

#reviews{
    color:white;
    text-align: center;
    display: inline-block;
}

.review {
    text-align: center;
    width:20em;
    float:left;
    background-color: transparent;
    margin:2em;
    font-family: "Manjari";
}

.review img{
    width:10em;
    border-radius: 100%;
}

/*---------------------- MAIN ABOUT US---------------------- */


#about-us {
    display:inline-block;
    margin-left:25%;
}


#about-us div {      
    color:white;
    text-align: center;
    width:47em;
    padding:1em;
    margin-top:2em;
    font-family: "Manjari";
}

#about-us div p{
    text-align: center;
}


#about-us article {
    background-color: #f5f5dc;
    float:left;
    margin:1em;
    width: 20em;
    padding: 1em;
    border: 2px solid black; 
    border-radius: 10px;
    font-family: "Manjari";
    text-align: center; 
}

#about-us img {
    width: 10em;
    height: 10em;
}


#about-us p{
    text-align: left; 
    line-height: 1.2em;
}

