@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Varela+Round&display=swap');


body {
    font-family: sans-serif;
    margin: 0px;                /* remove extra space */
}

/*---------------------- HEADER ---------------------- */

header {
    background-color: #61111f;
    width: 100%;
    position: fixed;
    top: 0;  
}

header img {  
    display: block;
    float:left;  
    width:12em;
    padding-left:2em;
    padding-top: 1em;  
}

header nav {
    float:right;
    text-align: center; 
}

header ul {
    display: inline-block;  
    padding-top:0.9em;
}

header li{
    display: inline;
    float: left;
    list-style: none;
    padding: 0.5em 1em 0 1em;
}

header li+li{
    border-left:2px solid white;
}

header a {
    font: bold 1.2em "Varela Round";
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    color: rgb(25,202,253);
    transition: 0.3s;
}

header a:active {
    color: rgb(24, 164, 203);
    transition: 0.3s;
}

main {
    margin-top:8em;
}
