@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Varela+Round&family=Aleo:ital,wght@0,100..900;1,100..900&family=Asap:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: sans-serif;
    margin: 0;                
    background: rgb(86, 57, 16);
    background: linear-gradient(90deg, rgba(86,16,16,1) 0%, rgba(117,24,24,1) 50%, rgba(86,16,16,1) 100%);
}

main {
    margin-top:8em;           
    text-align: center;
}



/*---------------------- HEADER ---------------------- */

header {
    background: rgb(86, 16, 16);
    background: linear-gradient(90deg, rgba(86,16,16,1) 0%, rgba(117,24,24,1) 50%, rgba(86,16,16,1) 100%);
    width: 100%;
    position: fixed;
    top: 0;  
    border-bottom: 2px solid black;
    z-index: 100; 
}

header img {  
    width:12em;
    padding: 0.4em 0em 0.2em 1em;
}

header nav {
    float:right;
    text-align: center; 
}

header ul {
    padding-top:0.8em; 
}

header li{
    float: left;
    list-style: none;
    padding: 0.5em 1em 0 1em;
}

header li+li{
    border-left:2px solid white;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font: bold 1.2em "Varela Round";
}

header a:hover {
    color: rgb(25,202,253);
    transition: 0.3s;
}

header a:active {
    color: rgb(24, 164, 203);
    transition: 0.3s;
}

/*---------------------- FOOTER ---------------------- */
footer {
    background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgb(28, 28, 28) 50%, rgba(17,17,17,1) 100%);
    font-family: "Rubik";
    font-weight: 80;
    color: #ffffff;
    text-align: center;
}

footer h1{
    font-family: "Rubik";
    text-align: center;
    border-bottom: 1px solid;
    font-size: 1.1em;
}

footer::after {
    content: "";
    display: block;
    clear: both;
}

footer h5{
    padding-top:20em;
}

footer section {
    float:left;
    margin:0 10em 0 1em;
}

#contact{
    text-align: left; 
}

#contact p {
    margin-bottom: 1em;
    line-height: 1.6em; 
}

#contact p span {
    display: block;
    text-align: center; 
    border-bottom: 1px solid;
}

#contact a {
    display: block;
    text-decoration: none; 
    margin-top: 0.2em; 
    color: #ffffff;
    font-size: 0.8em;
}

#contact a:hover {
    color: rgb(25,202,253);
    transition: 0.3s;
}

#contact a img {
    vertical-align: middle; 
    width: 1.8em;
    margin-right:0.1em;
}

#partners img {
    width:5em;
    margin:0.1em;
    transform: perspective(1000px);
    transition: 0.3s;
}

#partners img:hover{
    transform: scale(1.1); 
    transition: 0.4s;  
}

#partners a,#social-media a {
    text-decoration:none;  
}

#social-media img{
    width:2em;
    margin:0.1em;
    transform: perspective(1000px);
    transition:0.3s;
}

#social-media img:hover{
    transform: scale(1.2); 
    transition: 0.4s;  
}

/*---------------------- MAIN INDEX ---------------------- */

#intro{
    background-color: #f5f5dc;
    width:50%;
    margin-left:25%;
    padding:2em;
    border:2px solid black;
    border-radius: 10px 100px / 120px;
    font-family: "Manjari";
    
}

#intro h2{
    color:black;
    font-family: "Asap";
}

#news {
    margin: 1em;
}

#line-h1 {
    overflow: hidden; 
    font-family: "Asap";
    font-size: 2.5em;
    color: #ffffff;
    text-shadow: 5px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
#line-h1::before, #line-h1::after {
    background-color: #ffffff;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
  
#line-h1::before {
    right: 0.5em;
    margin-left: -50%;
}
  
#line-h1::after {
    left: 0.5em;
    margin-right: -50%;
}

#line-h2 {
    overflow: hidden; 
    font-family: "Asap";
    font-size: 1.5em;
    color: rgb(25,202,253);
    text-shadow: 5px 1px 5px rgba(0, 0, 0, 0.5);
  }
  
#line-h2::before, #line-h2::after {
    background-color: #ffffff;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
  
#line-h2::before {
    right: 0.5em;
    margin-left: -50%;
}
  
#line-h2::after {
    left: 0.5em;
    margin-right: -50%;
}

.news-article {
    background-color: #fffffe;
    float:left;
    width: 20em;
    border:1px solid black;
    border-radius: 20px;
    margin:2em;  
    font-family: "Manjari";
    transform: perspective(1000px);
    transition: transform 0.3s;
    z-index: 1; 
}

.news-article h3{
    font-family: "Roboto Condensed";
}

.news-article:hover{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    transform: scale(1.03); 
    transition: 0.4s;  
}

.news-article img{
    width: 20em;        
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid black;
}

.news-article a {
    text-decoration: none;
    color:black;
}

.news-article a p,.news-article a h3{
    padding-left:0.2em;
    margin-top:0.3em;
}

#trust-us {
    color:white;
    display: inline-block;
    width: fit-content;
    margin: 1em;
    font-family: "Manjari"; 
}

#trust-us h1 {
    font-family: "Asap";
}


#reviews{
    color:white;
    display: inline-block;
}

.stars { 
    color: rgb(25,202,253);
}

.review {
    float:left;
    background-color: transparent;
    width:20em;
    margin:2em;
    font-family: "Manjari";
    margin-left: 3em; 
}

.review img{
    width:10em;
    border-radius: 100%;
    border: 0.15em solid rgb(25,202,253);
}

.review h3{
    margin-bottom: 0;
    margin-top: 0;
}

.review h5 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.7em;
    text-decoration: underline;
}

.review p {
    font-weight: 110;
}
/*---------------------- MAIN ABOUT US---------------------- */

#about-us {
    display:inline-block;
    margin:4em 0 0 25%;
    text-align: center;
}

#about-us div {      
    color:white;
    width:47em;
    padding:1em;
    margin-top:2em;
    font-family: "Manjari";
}

#about-us h2{
    text-decoration: underline;
}

#about-us div p{
    text-align: center;
}

#about-us article {
    background-color: #f5f5dc;
    float:left;
    margin:1em;
    width: 20em;
    padding: 1em;
    border: 2px solid black; 
    border-radius: 10px;
    font-family: "Asap";
}

#about-us img {
    width: 10em;
}

#about-us p{
    text-align: left; 
    line-height: 1.2em;
}

/*---------------------- MAIN CATEGORIES---------------------- */

#courses-container {
    display: inline-block;
    margin-bottom:12em;
}

#courses-container img {
    width: 15em;
    transition: 0.4s; 
    opacity: 0.5;
}

#courses-container img:hover {
    transform: scale(1.1);  
    transition: 0.4s; 
    opacity:1;
}

#courses-container > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.course-item {
    text-align: left;
    float: left;
    margin: 2em;
    position: relative;
}

.course-item > ul {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
    margin: 0; 
    border-radius: 5px;
    opacity: 0; 
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease;
    visibility: hidden; 
    z-index: 1;
    min-width: 12em;
    border: 3px solid #1b1b1b ;
}

.course-item:hover > ul,
.course-item ul:hover {
    opacity: 1; 
    transform: translateY(0); 
    transition: 0.5s;
    visibility: visible;
}

.course-item ul > li {
    padding:0.3em;
    padding-left: 0.8em; 
}

.course-item ul > li > a {
    text-decoration: none;
    color: white;
    font-family: "Manjari";
    display: block;
    padding: 0.5em 0;
    font-size: 1em;
}

.course-item > ul > li:hover {
    background-color: #2a2a2a;    
    transition: background-color 0.2s ease-in;
}

 #probability-theory-link, #python-link{
    color: rgb(25,202,253);
    font-style: italic;
}


/*---------------------- MAIN PROBABILITY-THEORY/PYTHON ---------------------- */

.book-lecture-container {
    color: white;
}

.book-lecture-container >section> h2 {
    font-family: "Manjari";
    font-size: 1.5em;
    margin-bottom: 0;
    text-decoration: underline;
}

.book-lecture-item {
    display:inline-block;
    text-align: left;
    border-bottom: 3px solid rgb(25,202,253);
    border-top: 3px solid rgb(25,202,253);
    border-radius: 0.3em;
    margin:2em;
    font-family: "Aleo";    
}

.book-lecture-item > h3,.book-lecture-item > h5 {
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.book-lecture-item > h3 {
    margin-top: 0.5em;
}

.details-container > p{
    margin-top:0em;
   
}

.book-lecture-item > h5 {
    font-size: 0.9em;
    font-style: italic;
    color: rgb(25,202,253);
    margin-bottom:1em;
}

.book-lecture-item img{
    width:20em;
    margin:0 1em 1em 1em;
    float:left;
    border: 3px solid rgb(25,202,253);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5), -5px -5px 10px rgba(0, 0, 0, 0.5);
}

.book-lecture-item .details-container {
    width:90%;
}

.book-lecture-item .details-container p{
    margin:1;
}   

.details-container a {
    font-family: "Manjari";
    text-decoration: none;
    display: inline-block;
    border: 3px solid #1b1b1b;
    background-color: #333;
    padding: 0.5em;
    color: white;
    font-style: italic;
    transition: 0.3s ease-in-out;
    margin-bottom:1em;
}

.details-container a:hover {
    background-color: #515151;
    transition: 0.3s ease-in-out;
    text-decoration: underline;
}


/*---------------------- MAIN PY-GAME/PROBABILITY-LECTURE ---------------------- */

.return-button {
    font-family: "Asap";
    text-decoration: none;
    border: 3px solid #1b1b1b;
    background-color: #333;
    color: #fff;
    padding: 0.15em 0.5em;
    border-radius: 3px;
    font-size: 2em;
    transition: background-color 0.4s;
}

.return-button:hover {
    background-color: #515151;
}

.back-to-table-button {
    text-decoration: none;
    border: 3px solid #1b1b1b;
    background-color: #333;
    color: #fff;
    padding: 0.4em;
    font-size: 1em;
    transition: background-color 0.4s;
    margin-top: 1em;
    font-family: "Asap";
}

.back-to-table-button:hover {
    background-color: #515151;
}

.book-lecture-intro .book-lecture-item {
    border: none;
    color: white;
}

.book-lecture-chapters-container {
    text-align:left;
}


#table-of-content tr,td,th {
    border-bottom: 1px solid #fff; /* Add a border to table headers and cells */
}

#table-of-content th {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

#table-of-content tr {
    text-decoration: none;
}

#table-of-content a {
    text-decoration: none;
    border-bottom: transparent;
    color: rgb(25,202,253);
}

#table-of-content a:hover {
    text-decoration: underline;
    
}

#table-of-content td:first-child {
    border-right:  1px solid #fff;
}

#table-of-content th:first-child {
    border-right:  1px solid #fff;
}

.book-lecture-chapters-container {
    color:white;
    font-family: "Nunito";
    text-align: center;

}

.book-lecture-chapter > h2 {
    font-style: italic;
    color: rgb(25,202,253);
}

.book-lecture-chapter > details > summary {
    font-style: italic;
    font-family: "Roboto Condensed";
    text-decoration: underline;
}

.book-lecture-chapter > details {
    text-align: center;
}

.book-lecture-chapter > details > ul {
    display: block;
    list-style: none;
    font-family: "Roboto Condensed";
}

.book-lecture-chapter > details > ul > li {
    display: inline-block;
    margin-right: 0.5em;
    font-family: "Nunito";
    color: rgb(25,202,253);
}

.book-lecture-chapter > details > ul > li::after {
    content: ', '; /* Add a comma after each <li> */
}

.book-lecture-chapter > details > ul > li:last-child::after {
    content: ''; /* Remove the comma after the last <li> */
}

.book-lecture-chapter  p  {
    text-align: left;
    margin-left:1em;
}

.book-lecture-chapter  > figure > figcaption {
    font-style: italic;
}

.book-lecture-chapter iframe {
    width: 40em;
    height: 20em;
    align-self: center;
    margin-left: 15%; /* Center iframe horizontally */
    border: 2px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}



